@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";

input,
select,
textarea {
  outline: none;
  /* Elimina el borde de enfoque */
  transition: border-color 0.3s ease;
  /* Agrega una transición suave para el cambio de borde */
}

input:focus,
select:focus,
textarea:focus {
  border: 2px solid var(--primary-color);
  /* Aplica el borde de color primario en el foco */
}




p {
  @apply text-sm md:text-base lg:text-lg text-[var(--texts)];
}

:root {
  --background: #E5E5E5;
  --foreground: #eeeeef;
  --texts: #1a1a1a;
  --bubbleBg: #eeeeef03;
  --shadow: #ccc3;
  /* Colores primarios */
  --primary: #f5cc00;
  --primary-dark: #cca000;
  --secondary: #003566;
  --secondary-dark: #001d3d;

  /* Colores de estado*/
  --success: #34a853;
  --warning: #ffa500;
  --error: #d93025;
  --info: #0a66c2;
  --default: "#F5CC00";
}

[data-theme="dark"] {
  --background: #212121;
  --foreground: #171717;
  --texts: #fff;
  --bubbleBg: #fff5;

}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #212121;
    --foreground: #171717;
    --texts: #fff;
    --bubbleBg: #17171703;
    --shadow: #fff3;


  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: "Roboto", sans-serif;
  overflow-x: hidden;
}

html {
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  width: 0;
}